.compare {
    background-color: black;
    width: 100%;
}

.movie-to-compare, .movie-compare-section {
    max-width: 100%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.movie-to-compare img {
    max-width: 100%;
}

.movie-to-compare p:last-child {
    margin: 0;
    padding-bottom: 5px
}