.footer {
    display: block;
    padding-top: 1vmax;
    background: black;
    width: 100vw;
    background-image: linear-gradient( black, #2f3331);
    margin-top: auto;
    font-size: 0.8em;
}

footer p a {
    padding-left: 5px;
    text-decoration: none;
}

.footer p {
    color: rgb(255, 255, 255);
    margin: auto;
    padding: 5px 10px 5px 0;
}

p:hover {
    color: aliceblue;
    transition-duration: 0.75s;
}

@media only screen and (min-width: 500px) {
    .footer {
        padding: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .footer {
        height: auto;
        width: 100%;
    }
}
