.main-page {
    color: rgb(94, 129, 40);
    height: 65vh;
}

.loading-results {
    background-color: black;
    color: #01d277;
    display: block;
    height: 65vh;
}

.movies {
    width: 100vw;
    height: 90%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.single-movie {
    height: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: column;
    max-width: 85vw;
    padding-right: 10px;
   
}

.poster-container img {
    max-width: 90vw;
    max-height: 40vh;   
  
}

.movie-title {
    max-width: 100%; 
}
.movie-title > h2 {
    font-size: 0.6em;
    overflow-wrap: break-word;
    margin: 5px 0;
    padding: 0;
}

.buttons-section {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 10%;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.results-pages-button {
    margin-right: 2vw; 
}

.results-pages-button:focus {
}

@media only screen and (min-width: 1024px) {
    .movies {
        display:flex;
        flex-wrap: wrap;
        width: 100vw;
        justify-content: center;
        white-space: normal;
        overflow-x: auto;
        overflow-y: auto;
        
    }

    ::-webkit-scrollbar { 
            display: block; 
        }

    .single-movie {
        display: flex;
        height: 90%;
    }
}

@media screen and (min-width: 1024px) {
    .movies {
        width: 100%;
    }
    .buttons-section {
        margin-left: 0;
        margin-right: 0;  
    }
}
