.main-page {
    color: rgb(94, 129, 40);
    height: 65vh;
}

.loading-results {
    background-color: black;
    color: #01d277;
    display: block;
    height: 65vh;
}

.movies {
    width: 100vw;
    height: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.single-movie {
    height: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: column;
    max-width: 85vw;
    padding-right: 10px;
   
}

.poster-container img {
    max-width: 90vw;
    max-height: 50vh;   
  
}

.movie-title {
    max-width: 100%; 
}
.movie-title > h2 {
    font-size: 0.6em;
    overflow-wrap: break-word;
    margin: 5px 0;
    padding: 0;
}
/*
@media (max-height: 560px) {
    .poster-container img {
        max-height: 45vh;
    }
}
*/