.main-page {
    color: rgb(94, 129, 40);
    height: 65vh;
}

.loading-results {
    background-color: black;
    color: #01d277;
    display: block;
    max-height: 65vh;
}

.movies {
    width: 100vw;
    height: 65vh;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.single-movie {
    max-height: 100%;
    display: inline-flex;
    flex-direction: column;
    max-width: 85vw;
    padding-right: 10px;
   
}

.poster-container img {
    max-width: 90vw;
    max-height: 50vh;   
  
}

.movie-title {
    font-size: 0.75em;
}


@media (max-height: 560px) {
    .poster-container img {
        max-height: 45vh;
    }
}