header {
    margin-bottom: auto;
}

.search-bar {
    display: flex;
   /* width: 100vw;*/
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(#2f3331, black);     
    flex-direction: column-reverse;
}

.moviedb-image {
    max-width: 20%;
    align-self: flex-start;
}   

.moviedb-image > img {
    max-width: 100%;
    object-fit: scale-down;
}

.compare-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;   
}

.compare-bar a {
    text-decoration: none;
    color: #c1d1dd;
    border: 1px solid #c1d1dd;
    margin: 5px 5px;
    padding: 5px;
}
.compare-bar h1 {
  /*  border-right: 1px solid #c1d1dd;*/    
    margin: 0 5px;
}

.compare-bar a:hover {
    color: white;
}

.compare-mini-movies {
    display: flex;
    align-items: center;
    justify-content: center;
    border:  1px solid #c1d1dd;
    margin: 10px 5px;
}

.compare-mini-movies h2 {
    padding: 0 5px;
}

.movie-small {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    object-fit: contain;
    box-shadow: 1px 2px 3px black;
    margin: 5px;
}

.movie-small img {
    max-height: 10vh;  
}

@media only screen and (min-width: 500px) {
    .compare-bar {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .compare-mini-movies {
        height: 25vh;
        flex: 1.5;
    }
    .movie-small img {
        max-height: 20vh;
    }
    .search-bar {
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1024px) {
    .compare-bar h1 {
        font-size: 2.5em;
    }
}

@media (orientation: landscape) {
    .search-bar {
        flex-direction: row;
    /*    flex-wrap: wrap; */
        justify-content: flex-start;
    }

    

    .compare-mini-movies {
        border: none;
    }

    .moviedb-image {
        align-self: flex-start;
        max-width: 10%;
        margin-left: auto;
    }   
}