.search-bar {
    display: flex;
    width: 100vw;
    height: 25vh;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.moviedb-image {
    align-self: center;
   
}

.moviedb-image > img {
    max-width: 25vw;
    max-height: 25vh;
    max-width: 100%;
    object-fit: contain;
}

.compare-bar {
    display: flex;
    flex-direction: column;
}

.compare-mini-movies {
    display: flex;
    color: goldenrod;
    align-items: center;
    justify-content: center;
}

.compare-mini-movies h2 {
    padding: 0 5px;
}


.link-buttons { 
    display: flex;
/*    width: 100%;*/
    justify-content: center;
}
.link-buttons a {
    padding: 0 15px; 
}


.movie-small {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 20vw;
    max-height: 20vh;
    object-fit: contain;
    color: rgb(20, 128, 56);
    overflow: hidden;
}

.movie-small img {
    max-height: 10vh;
}

.movie-small h2 {
    display: none;
    color: white;
    margin: 0;
    font-size: 1vh;
}

/*
@media only screen and (max-height: 580px) and (orientation: landscape) {
    .search-bar {
        justify-content: space-around;
    }
    .compare-bar {
        flex-direction: row;
        align-items: center;
    }
}
*/

@media only screen and (min-width: 500px) {
    .compare-bar {
        padding-left: 5%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .compare-mini-movies {
        height: 25vh;
        flex: 2;
    }
    .movie-small img {
        max-height: 20vh;
    }
    .search-bar {
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1024px) {
    .search-bar {
        width: 100%;
    }
}

/*
@media (max-width: 289px) {
    .search-bar {
        flex-direction: column;
        height: auto;
    }
    .compare-bar {
        flex-direction: column;
    }
}
*/