.search-bar {
    display: flex;
    max-width: 100vw;
    height: 25vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.moviedb-image {
    align-self: center;
    max-width: 25vw;
}
.moviedb-image > img {
    max-width: 100%;
}
.compare-bar {
    display: flex;
    flex-direction: column;
    margin-right: auto;;
}

.compare-mini-movies {
    display: flex;
    color: goldenrod;
    align-items: center;
    justify-content: center;
}

.compare-mini-movies h2 {
    padding: 0 5px;
}


.link-buttons { 
    display: flex;
    width: 100%;
    justify-content: center;
}
.link-buttons a {
    padding: 0 15px; 
}


.movie-small {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 20vw;
    max-height: 20vh;
    object-fit: contain;
    color: rgb(20, 128, 56);
    overflow: hidden;
}

.movie-small img {
    max-height: 10vh;
}

.movie-small h2 {
    display: none;
    color: white;
    margin: 0;
    font-size: 1vh;
}

/*
@media (max-height: 580px) and (min-width: 290px) {
    .search-bar {
        align-content: space-around;
        flex-wrap: nowrap;
    }
    .compare-bar {
        flex-direction: row;
    }
}

@media (max-width: 289px) {
    .search-bar {
        flex-direction: column;
        height: auto;
    }
    .compare-bar {
        flex-direction: column;
    }
}
*/